.spazio-social-lingue {
    flex: 1 1 auto;
}

.posizione {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient( to right, #052431 5%, #43779F 50%);
}

.social {
    padding: 0 6px;
}

.lingue {
    padding: 0 2px;
    width:25px;
    height:25px;
}

.copyright {
    color: rgba(255, 255, 255, 0.384);
    font-size: 75%;
    padding-left: 30px;
}

.footerContainer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.footer {
    height: 100px;
}