<div *ngIf="currentRoute!='/login' && currentRoute!='/registrazione'">
    <div class="footerContainer">
        <div class="footer">
            <mat-toolbar class="posizione">
                <mat-toolbar-row>
                    <img class="social" src="assets/footer/facebook.png" width="25px">
                    <img class="social" src="assets/footer/instagram.png" width="25px">
                    <img class="social" src="assets/footer/telegram.png" width="25px">
                    <img class="social" src="assets/footer/snapchat.png" width="25px">
                    <img class="social" src="assets/footer/pinterest.png" width="25px">
                    <span class="copyright">Copyright 2019| Equipo</span>
                    <span class="spazio-social-lingue"></span>
                    <img class="lingue" src="assets/footer/italiano.png">
                    <img class="lingue" src="assets/footer/tedesco.png">
                    <img class="lingue" src="assets/footer/inglese.png">
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</div>