<div>
    <h1>Agenzia viaggi</h1>
</div>
<div class="carousel">
    <mat-carousel color=secondary maxWidth="auto" proportion="35" timings="1s ease-in" [autoplay]="true" interval="5000" [loop]="true" [hideIndicators]="false" [useKeyboard]="false" [useMouseWheel]="false">

        <mat-carousel-slide [hideOverlay]="true" *ngFor="let slide of slideList">
            <div class="wrapper">
                <div class="one">
                    <p class="testoSlider">{{ slide.descrizione }}</p>
                </div>
                <div class="two">
                    <img class="imgslide" src="{{ slide.urlImg }}" alt="">
                </div>
            </div>
        </mat-carousel-slide>
    </mat-carousel>
</div>