<div class="distanzaBottoni">
    <button class="button" (click)="cambiaLista('viaggi')" mat-flat-button [disabled]=listaVuota()>Tutti</button>
    <button class="button" (click)="cambiaLista('preferiti')" mat-flat-button [disabled]=listaPreferitiVuota()>Preferiti</button>
    <button class="button" (click)="cambiaLista('nascosti')" mat-flat-button [disabled]=listaNascostiVuota()>Nascosti</button>
</div>
<div [ngSwitch]="listaToShow">
    <div *ngSwitchCase="'viaggi'">
        <div class="wrapper sezione" *ngFor="let viaggio of viaggi | slice:inizio:mostra | filter:search">
            <div class="  imgViaggio">
                <img src="../../../assets/immagini/{{viaggio.immagine}}">
            </div>
            <div class="info">
                <span class="localita">{{viaggio.localita}}</span>
                <span class="descrizione">{{viaggio.descrizione}}</span>
            </div>
            <div class="icone">
                <button class="preferito" mat-icon-button matSuffix (click)="cambiaPreferito(viaggio)">
                    <mat-icon>{{viaggio.preferito ? 'favorite' : 'favorite_border'}}</mat-icon>
                </button>
                <button class="condividi" mat-icon-button matSuffix>
                    <mat-icon>share</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu" class="altro" mat-icon-button matSuffix>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="bottoneMenu">
                    <button mat-menu-item>
                        <mat-icon>link</mat-icon>Visualizza dettagli
                    </button>

                    <button mat-menu-item (click)="cambiaNascosto(viaggio)">
                        <mat-icon>clear</mat-icon>Nascondi
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mostra">
            <button *ngIf="mostra < viaggi.length" (click)="incrementaContatore()" class="bottoneMostra" mat-flat-button>mostra di più</button>
        </div>
    </div>

    <div *ngSwitchCase="'preferiti'">
        <div class="wrapper sezione" *ngFor="let viaggio of viaggiPreferiti | slice:inizio:mostraPreferiti;">
            <div class="  imgViaggio">
                <img src="../../../assets/immagini/{{viaggio.immagine}}">
            </div>
            <div class="info">
                <span class="localita">{{viaggio.localita}}</span>
                <span class="descrizione">{{viaggio.descrizione}}</span>
            </div>
            <div class="icone">
                <button class="preferito" mat-icon-button matSuffix (click)="cambiaPreferito(viaggio)">
                    <mat-icon>{{viaggio.preferito ? 'favorite' : 'favorite_border'}}</mat-icon>
                </button>
                <button class="condividi" mat-icon-button matSuffix>
                    <mat-icon>share</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu" class="altro" mat-icon-button matSuffix>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="bottoneMenu">
                    <button mat-menu-item>
                        <mat-icon>link</mat-icon>Visualizza dettagli
                    </button>

                    <button mat-menu-item (click)="cambiaNascosto(viaggio)">
                        <mat-icon>clear</mat-icon>Nascondi
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mostra">
            <button *ngIf="mostraPreferiti < viaggiPreferiti.length" (click)="incrementaPreferiti()" class="bottoneMostra" mat-flat-button>mostra di più</button>
        </div>
    </div>

    <div *ngSwitchCase="'nascosti'">
        <div class="wrapper sezione" *ngFor="let viaggio of viaggiNascosti | slice:inizio:mostraNascosti;">
            <div class="  imgViaggio">
                <img src="../../../assets/immagini/{{viaggio.immagine}}">
            </div>
            <div class="info">
                <span class="localita">{{viaggio.localita}}</span>
                <span class="descrizione">{{viaggio.descrizione}}</span>
            </div>
            <div class="icone">
                <button class="preferito" mat-icon-button matSuffix (click)="cambiaPreferito(viaggio)">
                    <mat-icon>{{viaggio.preferito ? 'favorite' : 'favorite_border'}}</mat-icon>
                </button>
                <button class="condividi" mat-icon-button matSuffix>
                    <mat-icon>share</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu" class="altro" mat-icon-button matSuffix>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="bottoneMenu">
                    <button mat-menu-item>
                        <mat-icon>link</mat-icon>Visualizza dettagli
                    </button>
                    <button mat-menu-item (click)="cambiaNascosto(viaggio)">
                        <mat-icon>clear</mat-icon>Mostra
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="mostra">
            <button *ngIf="mostraNascosti < viaggiNascosti.length" (click)="incrementaNascosti()" class="bottoneMostra" mat-flat-button>mostra di più</button>
        </div>
    </div>
</div>