.loginContainer {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 50px 460px 1fr;
}

.form {
    grid-row-start: 2;
    grid-column-start: 2;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #052431, #43779F);
    border-radius: 15px;
    color: white;
    margin-left: 30px;
    -webkit-box-shadow: -10px -10px 0px 0px #43779F;
    -moz-box-shadow: -10px -10px 0px 0px #43779F;
    box-shadow: -10px -10px 0px 0px #43779F;
}

.loginForm {
    width: 300px;
}

.logo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.scrittaLogin {
    margin-top: -35px;
    display: flex;
    justify-content: center;
    font: inherit;
    font-size: 25px;
}

.boxInput {
    width: 100%;
}

.coloreInput {
    color: white;
}

.iconPerson {
    margin-right: 20px;
    font-size: 30px;
}

.bottoneLogin {
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 40px;
    border: none;
    width: 300px;
    height: 50px;
    font-size: 15px;
    color: cornflowerblue;
    outline: none;
}

img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 20px;
}

.bottoneRegistrati {
    background-color: #052431;
    color: white;
}

.icon {
    transform: scale(1.5);
}

.posBottone {
    padding-left: 298px;
    transform: translateY(-50%);
}

.prova {
    margin-left: 15px;
}