h1 {
    margin: 50px;
    text-align: center;
    font-size:65px;
    font-weight: bold;
    padding: 20px 0 10px 20px;
    color:white;
}

button {
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    color: #001D28;
    background-color: white;
    margin-left: 1rem;
    padding: 20px;
    cursor: pointer;
    outline: none;
}

div {
    text-align: center;
}