<div class="container">

    <h3 class="scritta">Inviaci un tuo feedback</h3>
    <div class="form">
        <form [formGroup]="feedbackForm" (ngSubmit)="getFeedback()" class="feedbackForm">
            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" class="coloreInput" placeholder="Nome" type="text">
                    <mat-icon matPrefix class="icon">person</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-label>Cognome</mat-label>
                    <input matInput formControlName="cognome" class="coloreInput" placeholder="Cognome" type="text">
                    <mat-icon matPrefix class="icon">person</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-icon matPrefix class="icon">wc</mat-icon>
                    <mat-label>Sesso</mat-label>
                    <mat-select formControlName="sesso" class="coloreSelect" matNativeControl required>
                        <mat-option value="niente">--</mat-option>
                        <mat-option value="maschio">Maschio</mat-option>
                        <mat-option value="femmina">Femmina</mat-option>
                        <mat-option value="altro">Altro</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-label>E-Mail</mat-label>
                    <input type="email" matInput formControlName="email" class="coloreInput" placeholder="Email">
                    <mat-icon matPrefix class="icon">email</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input type="text" matInput formControlName="telefono" class="coloreInput" placeholder="Telefono">
                    <mat-icon matPrefix class="icon">call</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="boxInput" appearance="fill">
                    <mat-label>Commenti</mat-label>
                    <textarea type="text" matInput formControlName="commento" class="coloreInput" placeholder="Commenti"></textarea>
                </mat-form-field>
            </div>


            <input type="submit" [disabled]="feedbackForm.status === 'INVALID'" value="Invia" class="bottone">
        </form>
    </div>
</div>