.container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 40px 1fr;
    padding-top: 20px;
}

.head {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: auto 200px;
}

.nomeHead {
    grid-column: 2;
    margin: auto;
    color: white;
    text-align: center;
}

.Profilo{
    grid-row: 2;
    grid-column: 2;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

.scritta {
    width: 300px;
    height: 40px;
    margin: auto;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    color: white;
}

.form {
    grid-row: 2;
    grid-column: 2;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.inputColore {
    color: white;
}

.selectColore {
    color: white;
}

.inputBox {
    width: 100%;
}

.profiloForm {
    width: 500px;
}

.icona {
    margin-right: 20px;
    font-size: 40px;
    color: white;
}

.bottone {
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: #031f38;
    border-radius: 40px;
    width: 500px;
    height: 60px;
    border: none;
}

.annulla {
    background-color: white;
    font-size: 20px;
    color: #0089ff;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.conferma {
    background-color: white;
    font-size: 20px;
    color: #0089ff;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    grid-column: 3;
    display: flex;
    justify-content: center;
}

.bottone {
    width: 40%;
    margin: 5%;
}