<div class="head">
    <h2 class="nomeHead">Benvenuto<br>{{utente.nome}} {{utente.cognome}}</h2>
    <img class="Profilo" src="assets/profilo/ImmagineProfilo.png">
</div>
<div class="utenteContainer colore">
    <mat-label class="labelNome">Nome</mat-label>
    <mat-label class="labelCognome">Cognome</mat-label>
    <mat-label class="labelSesso">Sesso</mat-label>
    <mat-label class="labelEmail">Email</mat-label>
    <mat-label class="labelTelefono">Telefono</mat-label>

    <mat-divider [vertical]="true"></mat-divider>

    <mat-label class="inputNome">{{utente.nome}}</mat-label>
    <mat-label class="inputCognome">{{utente.cognome}}</mat-label>
    <mat-label class="inputSesso">{{utente.sesso}}</mat-label>
    <mat-label class="inputEmail">{{utente.email}}</mat-label>
    <mat-label class="inputTelefono">{{utente.telefono}}</mat-label>

</div>
<div class="bottoneContainer">
    <button (click)="faiModifica()" class="modifica" mat-raised-button>Modifica</button>
</div>