<H1>LOGIN</H1>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="mariorossi@gmail.com">
        <p *ngIf="emailControl.status === 'INVALID' && emailControl.dirty">Campo username obbligatorio!</p>

    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="Password">
        <p *ngIf="passwordControl.status === 'INVALID' && passwordControl.dirty">Campo password obbligatorio!</p>
    </div>

    <input type="submit" [disabled]="loginForm.status === 'INVALID'" value="Login">
</form>