<div *ngIf="currentRoute!='/login' && currentRoute!='/registrazione'" class="topnav">
    <ng-container>
        <ng-container *ngFor="let item of menuList">
            <div routerLink="{{ item.url }}" routerLinkActive="active">
                {{ item.descrizione }}
            </div>
        </ng-container>
        <div (click)="logout()">Esci</div>
        <img src="../../../assets/immagini/logo.png" alt="">
        <mat-form-field class="cerca" appearance="fill" *ngIf="currentRoute=='/list'">
            <mat-icon class="lente" matPrefix>search</mat-icon>
            <div>
                <input type="text" name="search" (keyup.enter)="search($event)" autocomplete="off" placeholder="Cerca">
            </div>
        </mat-form-field>
    </ng-container>

</div>